<h1>Editing Announcement</h1>

<%= render 'form', announcement: @announcement %>

<%= link_to 'Show', [@sport, @announcement], class:"btn btn-light"%> |
<%= link_to 'Back', sport_announcements_path(@sport), class:"btn btn-outline-light" %>
