<h1>HELLO</h1>

<select id="select">
  <option value="0">A</option>
  <option value="0">B</option>
  <option value="0">C</option>
  <option value="0">D</option>
</select>


<h1>ONCHANGE EVENT</h1>

<select id="mySelect" onchange='myFunction()'>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>

<p id="demo"></p>


<select id="ddselect">
  <option value="" selected disabled>Selected Courses</option>
  <option value="1">ONE</option>
  <option value="2">TWO</option>
  <option value="3">THREE</option>
</select>
<br>
<input type="text" readonly="readonly" id="textresults"/>

<!-- CHECKBOX -->
<br><br>
<input type="checkbox" name="type" value="GFG" /> GFG:
<input type="checkbox" name="type" value="Geeks" /> Geeks:
<input type="checkbox" name="type" value="Geek" /> Geek:
<input type="checkbox" name="type" value="portal" /> portal:

<div id="bind"></div>
