<div style="margin:100px; width:100%;" class="container">

  <div>
    <p class = "myclass">This is a paragraph.</p>
    <p id = "myid">This is second paragraph.</p>
    <p>This is third paragraph.</p>
  </div>

  <div>
    <em title = "Bold and Brave">This is first paragraph.</em>
    <div id = "divid"></div>
  </div>

  <div>
    <div>width</div>
    <div>check width</div>
    <p>This is 1st paragraph and <span>THIS IS RED</span></p>
    <h2 title2 = "Bold and Brave">This is first paragraph.</h2>
    <img id ="myimg" src="https://www.google.com/search?q=default+image&client=ubuntu&channel=fs&sxsrf=APq-WBvVneuXgaWACuUJBlzG8cXwksSBPQ:1647950478586&tbm=isch&source=iu&ictx=1&vet=1&fir=NfE8TAjA2ODYnM%252C26W_wkibIY4McM%252C_%253BdzPYWaGt8jz9-M%252CxyV8ddqOau4KMM%252C_%253BdAOBLb6Mi03B7M%252CnRsdETgijWg0QM%252C_%253B6tO2K22XfMJMrM%252CtjwcAW2gZVajyM%252C_%253Bdxonrn0cJEMI6M%252CSW4yfvw9aJ_usM%252C_%253BA0pMe2lq2NT_jM%252CCrJKSX1AFUwp9M%252C_%253BZUQ4hqK0eoOE9M%252CCG1CySSEUS0-DM%252C_%253BJpaFCmffhUdABM%252CeirPelkp9eoYkM%252C_%253BQ6BBzp2xDdCTDM%252C5SCId8Hd97daPM%252C_%253BmFBeEI-GK2RjoM%252CBcplb9fZWTvvRM%252C_%253Bfzm-cB-sF1nIvM%252CYlh7sHyFI9lHtM%252C_%253BNUuwdMoJ0wedMM%252CEh_frbRje_4DLM%252C_%253B4C9OujEfKWS37M%252CNm1oKmcR1ertvM%252C_%253B8LqQ7tYSXubpoM%252CnEyqGzec7yPv6M%252C_&usg=AI4_-kRdHtsJKDhhCOBtWSV-0iVNQczBrw&sa=X&ved=2ahUKEwjrtoj31dn2AhWgyYsBHX-rAlYQ9QF6BAgZEAE#imgrc=dzPYWaGt8jz9-M" alt ="Sample image" />
  </div>

  <div>
    <ul>
      <li>list item 1</li>
      <li class = "top">list item 2</li>
      <li class = "middle">list item 3</li>
      <li class = "middle">list item 4</li>
      <li class = "bottom">list item 5</li>
      <li class = "bottom">list item 6</li>
    </ul>
   </div>

   <div>
    <p>Click on the square below:</p>
    <span id = "result"> </span>
      
    <div class="division" id = "division" style = "background-color:blue;">
       This is Blue Square!!
    </div>

    <div class="division1" id = "division1" style = "background-color:rgb(177, 216, 87);">
      This is RED!!
    </div>

    <div class="division2" id = "division2" style = "background-color:rgb(87, 136, 216);">
    </div>
    <div class="division2" id = "division2" style = "background-color:rgb(87, 216, 162);">
    </div>
    <div class="division2" id = "division2" style = "background-color:rgb(197, 87, 216);">
    </div>

    <div class="division3" id = "division3" style = "background-color:rgb(216, 192, 87);">
    </div>
    <div class="division3" id = "division3" style = "background-color:rgb(75, 29, 83);">
    </div>
    <div class="division3" id = "division3" style = "background-color:rgb(87, 154, 216);">
    </div>

    <div class="div4" id = "div4" style = "background-color:rgb(34, 29, 51);">
    </div>

    <div class="div5" id = "div5" style = "background-color:rgb(24, 46, 29);">
    RUBY</div>
    <div class="div55">RAILS</div>

    <div class = "mydiv1">
      BOX
    </div>

   <input id = "hide" type = "button" value = "Hide" />   
   <!-- <input id = "show" type = "button" value = "Hide" />    -->

   <div class = "content">
    <div class = "clickme">Click Me</div>
    <div class = "target">
       <img src = "./images/favicon.png" alt = "jQuery" />
    </div>
    <div class = "log"></div>
 
   </div>
   <br>
   <button id="trigger">Trigger</button>
   <br>
    <p>Enter Name: <input
     id="input" 
     value="Mansi" 
     onchange="alert(this.value)" 
     type="text">
    </p>

    <p class="db">FIRST</p>
    <p class="db">SECOND</p>
    <p class="db">THIRD</p>
    <br>
    
    <p class="mouse-enter">Drag your cursor here</p>
    <p class="mouse-leave">Drag away cursor here</p>
    
    Name: <input class="input2" type="text" name="fullname"><br>
    Email: <input class="input2" type="text" name="email">

    <p id="para">Some text here</p>
    <button onclick="changeColor('blue');">blue</button>
    <button onclick="changeColor('red');">red</button>
  </div>