<%= form_for([@post,@post.comments.build]) do |f| %>
 <br/>
  <p>
    <%= f.text_area :body, class:"form-control", placeholder:"comment here" %>
  </p><br/>

  <p>
    <%= f.submit  class:"btn btn-outline-light" %>
  </p>

<% end %>