
<div class="container" style="margin-top: 40px;margin-left: 359px;font-family: Lucida Console, Courier New, monospace;">
    <h1 id="head-text-color">Editing Sport</h1>

    <%= render 'form', sport: @sport %>
    
    <br/><br/>
    <%= link_to 'Back', sports_path, class:"btn btn-outline-light" , style:"margin:20px;" %> |
    <%= link_to 'Show', @sport , class:"btn btn-light" , style:"margin:20px;" %> 
</div>




