
<div class="container", id="font-text">
    <h1 id="head-text-color">Editing Sport</h1>

    <%= render 'form', sport: @sport %>
    
    <br/><br/>
    <%= link_to 'Back', sports_path, class:"btn btn-outline-light", id="div-margin" %> |
    <%= link_to 'Show', @sport , class:"btn btn-light", id="div-margin" %> 
</div>




