<div style="font-family: Lucida Console, Courier New, monospace;" class="container">
    <h1 id="head-text-color">New Sport</h1>

    <%= render 'form', sport: @sport %><br/><br/>
    <%= link_to 'Back', sports_path, class:"btn btn-outline-light" %>
</div>

