<div class="">
<div class="filter_title">
    <h4>Filters <span><button class="btn-xs btn-outline-primary reset_user_filters_btn">Reset</button></span>
    </h4>
</div>
<div class="mt-1">
    <h5>Business</h5>
    <%= select_tag :businesses,
                   options_for_select(all_business_humanize),
                   class: 'form-control-sm business-sidebar' %>
    <div name="businesses" style="padding-top: 5px;">
    </div>
</div>
</div>
