<div class="card">
  <div class="card-header">
    <h4>Edit Your Offer</h4>
  </div>
  <div class="card-body">
    <%= render 'form', offer: @offer %></br>   
    <%= link_to 'Show', @offer, class: "btn btn-primary"%> 
    <%= link_to 'Back', offers_path, class: "btn btn-primary" %> 
  </div>
</div></br>