/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

 @import "font-awesome-sprockets";
 
 @import "font-awesome";

 @import "scaffolds";

 @import "posts";

 @import "pages";

 @import "sports";

 @import "datatables";

 
img.post-show {
  width: 80px;
  height: auto;
}

#div-margin {
  margin: 20px; 
}

#head-text-color {
  color: #fff;
}

#show-box {
  margin-top: 40px;
  padding: 30px;
  box-shadow: 0 8px 8px -4px rgb(32, 45, 165);
  font-family: Lucida Console, Courier New, monospace;
}

#form-box {
  width: 600px;
  padding: 30px;
  box-shadow: 0 8px 8px -4px rgb(32, 45, 165);
}

#show-box-post {
  padding: 20px;
  width:300px;
  height:300px;
  color:white;
  margin-top:25px;
  font-weight: 900px;
  font-size: larger;
  box-shadow: 0 8px 8px -4px rgb(32, 45, 165);
}

#show-box-achievement {
  padding: 20px;
  width:380px;
  height:320px;
  color:white;
  margin-top:25px;
  box-shadow: 0 8px 8px -4px rgb(32, 45, 165);
}

#font-text {
  margin-top: 40px;
  margin-left: 359px;
  font-family: Lucida Console, Courier New, monospace;
}

#just-font {
  font-family: Lucida Console, Courier New, monospace;
}

#head5 {
  font-size: xx-large;
}

#p1 {
  font-size: larger;
}

#div2 {
  padding: 50px;
  margin:0px;
}

#div3 {
  margin-left:40px;
}

#div4 {
  width:300px;
}

#div5 {
  margin-bottom: 30px;
  margin-left:25px;
}

#div6 {
  text-align: center; 
  margin-right:20px;
}

#div7 {
  margin-left: 22px;
}

#dash {
  margin: 20px 0px 60px 65px;
}
